:root {
  --primary-color: hsl(258, 45%, 35%);
  --primary-color-light: hsl(258, 55%, 55%);
  --primary-color-dark: hsl(270, 33%, 10%);
  --secondary-color: hsl(194, 47%, 47%);
  --secondary-color-light: hsl(194, 47%, 77%);
  --secondary-color-dark: hsl(194, 70%, 26%);
  --neutral-color: hsl(60, 3%, 89%);
  --neutral-color-light: hsl(60, 4%, 98%);
  --neutral-color-dark: hsl(60, 7%, 6%);
  --win-color: hsl(120, 30%, 25%);
  --win-color-light: hsl(120, 30%, 65%);
  --draw-color: hsl(59, 35%, 22%);
  --draw-color-light: hsl(59, 35%, 62%);
  --loss-color: hsl(3, 30%, 25%);
  --loss-color-light: hsl(3, 30%, 65%);
  --chessboard-light-color: hsl(32, 29%, 80%);
  --chessboard-dark-color: hsl(31, 30%, 62%);
}

html {
  --surface-far-color: var(--neutral-color);
  --surface-near-color: var(--neutral-color-light);
  --surface-action-color: var(--secondary-color-light);
  --surface-active-color: var(--secondary-color);
  --text-color: var(--neutral-color-dark);
  --text-accent-color: var(--primary-color);
  --text-action-color: var(--secondary-color);
  --text-active-color: var(--secondary-color-light);

  color: var(--text-color);
  background: var(--surface-far-color);
}

html.dark {
  --surface-far-color: var(--neutral-color-dark);
  --surface-near-color: var(--primary-color-dark);
  --surface-action-color: var(--secondary-color-dark);
  --surface-active-color: var(--secondary-color);
  --text-color: var(--neutral-color-light);
  --text-action-color: var(--secondary-color);
  --text-active-color: var(--secondary-color-light);

  color: var(--text-color);
  background: var(--surface-far-color);
}

section {
  background-color: var(--surface-near-color);
}

h1,
h2,
b {
  color: var(--text-accent-color);
}

a,
input[type='text'],
button {
  color: var(--text-action-color);
}

a:hover,
a:focus-visible {
  color: var(--text-active-color);
}

button {
  background-color: var(--surface-action-color);
}

button:hover,
button:focus-visible,
button.selected {
  color: var(--text-active-color);
  background-color: var(--surface-active-color);
}

::selection {
  color: var(--text-action-color);
  background-color: var(--surface-action-color);
}

.load-button {
  color: var(--text-active-color);
  background-color: var(--surface-active-color);
}

.log-info,
.logged-in {
  color: var(--text-accent-color);
}
