@import './_reset.css';
@import './_theme.css';
@import './_typography.css';

body {
  display: grid;
  grid-template-columns: min(75ch, 85vw);
  place-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  place-content: space-between;
}

section {
  margin-block: 0.25em 1em;
  padding: 1.25em;

  backdrop-filter: blur(10px);
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
}

section:first-child {
  margin-block-start: 0;
}

h1 {
  display: flex;
  align-items: center;
  margin-block: 0.375em 0.125em;
}

h2 {
  margin-block-start: -0.625em;
  margin-block-end: 0.625em;
  text-align: center;
  border-bottom: solid 1px var(--text-accent-color);
}

p {
  margin-block-start: 1.125em;
  text-align: center;
}

input[type='text'] {
  border-bottom: solid 1px var(--text-action-color);
  transition: border 140ms ease, background-color 140ms ease;
}

input[type='text']:hover,
input[type='text']:focus {
  border-color: var(--text-active-color);
}

button {
  cursor: pointer;

  flex-grow: 0.001;

  padding: 0.2em 1.25em;

  border: none;
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);

  transition: color 140ms ease, background-color 140ms ease;
}

.button-group {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
}

.button-group button {
  z-index: 2;
  margin: 0;
  box-shadow: none;
}

.button-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hideable {
  --fast-transition-speed: 250ms;
  --slow-transition-speed: 400ms;

  overflow: initial;
  max-height: 100vh;
  opacity: 1;
  transition: max-height var(--fast-transition-speed) ease-in,
    opacity var(--slow-transition-speed) ease-out, margin var(--fast-transition-speed) ease-in;
}

.hideable.hidden {
  --slow-transition-speed: 600ms;

  overflow: hidden;

  max-height: 0;
  margin: 0;
  padding: 0;

  opacity: 0;

  transition: opacity var(--fast-transition-speed) ease-in,
    max-height var(--slow-transition-speed) ease-out, margin var(--slow-transition-speed) ease-in;
}

.quote {
  display: flex;
  flex-direction: column;
  place-items: end;
  align-self: center;
}

@keyframes pulse {
  0%,
  100% {
    background-color: var(--surface-action-color);
  }
  50% {
    background-color: var(--surface-active-color);
  }
}

.load-button.loading {
  cursor: wait;
  flex-grow: 1;
  transition: flex-grow 600ms ease;
  animation: pulse 2.5s ease infinite;
}

.load-button.loaded {
  cursor: initial;
  flex-grow: 1;
}

.form-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75em;
  margin-block-end: 0.75em;
}

.form-group input {
  margin-block-end: 0.75em;
}

@media only screen and (max-width: 799px) {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  header {
    flex-direction: column;
    place-items: center;
  }

  .quote {
    place-items: center;
    padding-block-end: 0.5em;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .form-group label {
    text-align: right;
  }
}

.site-select {
  position: relative;
  display: grid;
  padding-bottom: 0;
  transition: padding 200ms ease-in-out;
}

.site-select.login-show {
  padding-bottom: 1.25em;
}

.lichess-login {
  position: absolute;
  z-index: 1;
  bottom: 0;

  display: flex;
  gap: 0.5em;
}

.log-info {
  display: flex;
  place-items: center;
}

.form-footer {
  display: flex;
  place-content: space-around;
  margin-block-start: 0;
  padding-block-start: 0;
}

.pawns {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-block-end: 0.5em;
}

.info {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 800ms ease-in-out;
}

.info.active {
  overflow: visible;
  max-height: 1000vh;
  opacity: 1;
  transition: max-height 800ms ease-in, opacity 800ms 400ms ease-out;
}

.result-charts {
  padding: 2em;
}

.chart-container {
  position: relative;

  display: flex;
  place-content: center;

  aspect-ratio: 2;
  width: 100%;
  height: 100%;
  max-height: 35vh;
}

.links {
  display: grid;
  gap: 0.25em;
  place-items: center;
}

.links li {
  list-style: none;
}

.links-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 599px) {
  .links-list {
    place-items: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1399px) {
  .links {
    grid-template-columns: 1fr auto;
    gap: 1em;
  }

  .links-title {
    flex-grow: 1;
    justify-self: end;
  }

  .links-list {
    flex-direction: row;
    gap: 0.5em;
    place-content: space-between;
  }
}

@media only screen and (min-width: 1400px) {
  .links {
    position: fixed;
    right: 1.75em;
    bottom: 1em;
  }

  .links-list {
    overflow: hidden;
    place-self: end;

    max-height: 0;
    margin: 0;

    transition: max-height 400ms ease-in;
  }

  .links:hover ul {
    max-height: 100vh;
  }
  .links li {
    text-align: right;
  }
}

.reset-button {
  display: grid;
  place-content: center;
  margin-inline-start: 0.4em;
  padding: 0 0.6em;
}

.theme-toggle {
  display: grid;
}

.switch-container {
  margin-block-start: 0.5em;
  display: flex;
  gap: 0.125em;
  place-content: center end;
}

.switch {
  width: 2.25em;
  background-color: var(--surface-far-color);
  border-radius: 0.25em;
  cursor: pointer;
}

.switch:hover::after {
  background-color: var(--surface-active-color);
}

.switch::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--surface-action-color);
  border-radius: 0.25em;
  transition: transform 200ms ease, background-color 200ms ease;
}

.switch.dark::after {
  transform: translateX(1.25em);
}